.product__title{
    font-size: 2rem;
    font-weight: bold;
}

.product__description{
    margin-top: 1rem;
    width: 50%;
    margin: 0 auto;
}

.product__img{
    width: 30%;
    min-width: 5rem;
}

.product__price{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.color-advert{
    color: red;
}